.form {
    display: flex;
    flex-direction: column;
    gap: toRem(20);
    // width: toRem(400);
    margin: toRem(20) auto;
    div {
        display: flex;
        flex-direction: column;
        gap: toRem(7)
    }
}
