.container {
    max-width: toRem($maxWidthContainer); /*1140 + 30px (отступы безопасности)*/
    margin: 0 auto;
    padding: 0 toRem(15); /*Отступ безопасности*/
}

h1 {
    font-weight: 700;
    font-size: toRem(32);
}

h2 {
    font-weight: 700;
    font-size: toRem(22);
}
p, li {
    font-size: $fontSize;
}
label {
    margin-top: toRem(14);
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    margin: toRem(20) auto;
    div {
        display: flex;
        flex-direction: column;
        gap: toRem(7)
    }
}

.form__section {
    max-width: toRem(400);
    margin: toRem(28) auto;
    padding: toRem(28);
    background-color: #f9f9f9;
    border-radius: toRem(8);
    box-shadow: 0 toRem(2) toRem(10) #0000001a;
}

// PC ====================================================================
@media(max-width: $pc) {

}
// TABLET =================================================================
@media(max-width: $tablet) {

}
// MOBILE =================================================================
@media(max-width: $mobile) {
}
// MOBILE_SMALL ===========================================================
@media(max-width: $mobileSmall) {

}
