header {
	background-color: $bckColor;
}
.header__container {
}

.menu {
}
.menu__list {
	min-height: toRem(100);
	display: flex;
	gap: toRem(20);
	align-items: center;
	justify-content: space-between;
	a {
		color: $fontColorBlack;
		transition: 200ms;
		&:hover {
			color: #2b2b2b;
		}
	}
	a.active {
		color: #86abff;
	}
}

.login-img {
	width: toRem(40);
	height: toRem(40);
}
