.register__section {
    max-width: toRem(400);
    margin: toRem(28) auto;
    padding: toRem(28);
    background-color: #f9f9f9;
    border-radius: toRem(8);
    box-shadow: 0 toRem(2) toRem(10) #0000001a;
}